body {
    font-size: 16px;
    margin-left: 10px; 
}

/* Make pokemon Name and Height category bold*/
.pokemon-name, .pokemon-height, .pokemon-types {
    font-weight: bold;
}

.pokemon-height {
   margin-left: 15px;
}

.pokemon-types {
    margin-left: 15px;
}