:root {
    --grass: rgba(50, 129, 63, 1);
    --poison: rgba(83, 49, 125, 1);
    --fire: rgba(163, 15, 15, 1);
    --water: rgb(14, 126, 154, 1);
}

body {
    font-size: 16px;
    margin-left: 10px; 
}

button {
    width: 30%;
    height: 100px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    border-right: 4px solid rgba(0, 0, 0, 0.8);
    border-bottom: 8px solid rgba(0, 0, 0, 0.8);
}

button:hover, button:focus {
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
    transition-duration: 0.5s;
}

button:active {
    transition-duration: 0.3s;
    border: none;
}


ul {
    list-style-type: none;
}

/* Make pokemon types button background be the color of the types */

.pokemontype__fire {
    background-color: var(--fire);
    color: #fff;
}

.pokemontype__water {
    background-color: var(--water);
    color: #fff;
}

.pokemontype__grassPoison {
    background-image:linear-gradient(30deg, var(--grass) 50%, var(--poison) 50%);
    color: #fff;
}